<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MiDEWPF.Properties.Settings.MiDEConnection" connectionString="Data Source=compasspowerbi;Initial Catalog=Sandbox;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MiDEWPF.Properties.Settings.BIConnectionString" connectionString="Data Source=compasspowerbi;Initial Catalog=BI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>