<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiDEWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MiDEWPF.Properties.Settings.MiDEConnection" connectionString="Data Source=compasspowerbi;Initial Catalog=Sandbox;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MiDEWPF.Properties.Settings.ConnectionString" connectionString="Data Source=compasspowerbi;Initial Catalog=MiDE;Persist Security Info=True;User ID=MideApplication;Password=$1nCi7y"
            providerName="System.Data.SqlClient" />
        <add name="MiDEWPF.Properties.Settings.BIConnectionString" connectionString="Data Source=compasspowerbi;Initial Catalog=BI;Persist Security Info=True;User ID=MideApplication;Password=$1nCi7y"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <MiDEWPF.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>MiDE</value>
            </setting>
        </MiDEWPF.Properties.Settings>
    </applicationSettings>
</configuration>